<ngb-carousel>
  <ng-template ngbSlide *ngFor="let collegue of collegues | filtreByPseudo:pseudoToFilter | slice:0:limit">
    <div class="text-center">
		<a class="nav-link" routerLink="/detail/{{collegue.pseudo}}" routerLinkActive="active-link">
			<img class="img-fluid img-responsive" src="{{collegue.url}}" alt="{{collegue.pseudo}}">
		</a>
	</div>
	<div class="carousel-caption">
      <h1 class="display-3" [innerHTML]="collegue.score | score"></h1>
      <p>
		<app-opinion (opinion)="setOpinion($event, collegue)"></app-opinion>
		<app-commentaire [collegue]="collegue"></app-commentaire>
	  </p>
    </div>
  </ng-template>
</ngb-carousel>

