<table class="table table-responsive-xl">
	<thead class="thead-light">
		<tr>
			<th></th>
			<th>Pseudo</th>
			<th>Score</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	  <tr *ngFor="let collegue of collegues | filtreByPseudo:pseudoToFilter | slice:0:limit">
		<td>
			<a class="nav-link" routerLink="/detail/{{collegue.pseudo}}" routerLinkActive="active-link">
				<img width="30" height="30" class="img-fluid img-responsive" src="{{collegue.url}}" alt="{{collegue.pseudo}}">
			</a>
		</td>
		<td>{{collegue.pseudo | uppercase}}</td>
		<td [innerHTML]="collegue.score | score"></td>
		<td>
			<app-opinion (opinion)="setOpinion($event, collegue)"></app-opinion>
			<app-commentaire [collegue]="collegue"></app-commentaire>
		</td>
	  </tr>
	</tbody>
</table>