  <div class="container"> 
    <div class="jumbotron">
      <div class="jumbotron-content">
        <h1>Top Collègues</h1>
        <p class="jumbotron-lg-only">Les meilleures collègues du moment</p>
        <form name="user-info">
          <div class="form-group">
            <label for="pseudo">Pseudo</label>
            <input type="pseudo" name="pseudo" class="form-control" placeholder="pseudo" #pseudo>
          </div>
          <div class="form-group">
            <label for="imageUrl">Url image:</label>
            <input type="imageUrl" name="imageUrl" class="form-control" placeholder="" #imageUrl>
          </div>
		  <button class="btn btn-primary btn-large" (click)="add(pseudo, imageUrl)">Ajouter un nouveau collègue</button>
        </form>
      </div>
    </div>
	
	<ngb-alert *ngIf="opened" type="success" [dismissible]="true" (close)="successMessage = null; opened= false">{{ successMessage }}</ngb-alert>
	
	<div class="row">
		<div class="col-4" *ngFor="let col of collegues">
		
			<app-un-collegue [collegue]="col"></app-un-collegue>
	
		</div>
		
	</div>	
 
 </div>

