 <div class="container"> 
    <div class="jumbotron">
      <div class="jumbotron-content">
        <h1>Top Collègues</h1>
        <p class="jumbotron-lg-only">Les meilleures collègues du moment</p>
        <form class="form-horizontal" name="user-info">
          <div class="form-group">
            <label for="pseudo">Pseudo</label>
            <input type="pseudo" name="pseudo" class="form-control" placeholder="pseudo" #pseudo>
          </div>
          <div class="form-group">
            <label for="imageUrl">Url image:</label>
            <input type="imageUrl" name="imageUrl" class="form-control" placeholder="" #imageUrl>
          </div>
		  <button class="btn btn-primary btn-large" (click)="add(pseudo, imageUrl)">Ajouter un nouveau collègue</button>
        </form>
      </div>
    </div>
	
	<ngb-alert *ngIf="opened" [type]="typeMessage" [dismissible]="canDismiss" (close)="successMessage = null; opened= false">{{ message }}</ngb-alert>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" routerLink="/classique" routerLinkActive="active-link">Classique</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/tableau" routerLinkActive="active-link">Tableau</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/carrousel" routerLinkActive="active-link">Carrousel</a>
		  </li>
		</ul>
	  </div>
	</nav>
	

	<div class="pt-2"></div>

		<router-outlet></router-outlet>

 </div>

